{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // 按需引用
        "corejs": 3 //core-js 版本
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  // 动态引入antd的样式
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
  // "plugins": [
  //   [
  //     "@babel/plugin-transform-runtime"
  //     // {
  //     //   "corejs": 3
  //     // }
  //   ]
  // ]
}
