{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // 按需引用
        "corejs": 3, //core-js 版本
        "module": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    // 确保helper辅助方法都是引用@babel/runtime
    "@babel/plugin-transform-runtime"
    // antd动态加载
    // [
    //   "import",
    //   {
    //     "libraryName": "antd",
    //     "libraryDirectory": "es",
    //     "style": "css"
    //   }
    // ]
  ]
}
